
.success, .error {
  color : white;
  padding : 5px;
  margin: 5px 0 15px 0;

}

.success {
  background: green ;
}

.error {
  background: red;
}
/* 
thead, h2, h3, #btnSave {
  background: #c5f6f7;
}

th {
  text-align: center;
}
 */
